.cardImageContainer{
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
}

.thumbStyle{
    margin-bottom:15px;
}

.thumbStyle img{
  max-height: 130px !important;
}

label{
  font-size: 20px;
  font-weight: bold;
}

.appIcon{
  height: 25px;
  margin-top: -5px;
}

.appTitle, .appDescription{
  max-width: 200px;
  max-height: 40px;
}

.appTitle{
  display: inline;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.appDescription{
  margin: 5px 0 0 0;
}

.cardActionOverlay{
  height: 130px;
  position: absolute;
  background: rgba(0,0,0,0.80);
  margin: 5px 5px;
  padding: 10px 20px;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  text-align: center;
}

button{
  margin: 10px 5px !important;
}

.cardImageContainer:hover .cardActionOverlay{
    opacity: 1;
}

.cardImageContainer:hover:before {
  opacity: 0;
}

.cardImageContainer:before { bottom: 10px; left: 10px; }
.cardImageContainer .cardActionOverlay { left: 0; top: 0; bottom: -30%;}
.cardImageContainer:hover .cardActionOverlay { bottom: 0; }
